apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 101561167685.dkr.ecr.us-east-1.amazonaws.com/tetris-backend:13
        ports:
        - containerPort: 4000
        envFrom:
        - configMapRef:
            name: backend-config
        readinessProbe:
          tcpSocket:
            port: 4000
          initialDelaySeconds: 5
          periodSeconds: 10

          
