 - name: Add ArgoCD Helm repo
   become: false
   kubernetes.core.helm_repository:
        name: argo
        repo_url: https://argoproj.github.io/argo-helm
        kubeconfig: /home/lina/.kube/config

 - name: Install ArgoCD
   become: false
   kubernetes.core.helm:
        name: argocd
        chart_ref: argo/argo-cd
        release_namespace: argocd
        create_namespace: true
        kubeconfig: /home/lina/.kube/config


 - name: Patch ArgoCD service to LoadBalancer via kubectl
   shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} patch svc argocd-server -n argocd -p '{"spec": {"type": "LoadBalancer"}}'

   
 - name: Get External IP
   shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} get svc argocd-server -n argocd -o jsonpath='{.status.loadBalancer.ingress[0].ip}'
   register: argocd_ip

 - name: Get ArgoCD admin password
   shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} -n argocd get secret argocd-initial-admin-secret -o jsonpath='{.data.password}' | base64 --decode
   register: argocd_password

 - name: Show ArgoCD URL, username and password
   debug:
        msg: |
          ArgoCD URL: https://{{ argocd_ip.stdout }}
          Username: admin
          Password: {{ argocd_password.stdout }}
  

 - name: Copy secrets.yaml to temporary location
   copy:
    src: "{{ role_path }}/files/secrets.yaml"
    dest: "/tmp/secrets.yaml"
    mode: '0644'

 - name: Apply Git repo to ArgoCD
   command: kubectl --kubeconfig {{ kubeconfig_path }} apply -f /tmp/secrets.yaml

 - name: Copy Application.yaml to temporary location
   copy:
    src: "{{ role_path }}/files/Application.yaml"
    dest: "/tmp/Application.yaml"
    mode: '0644'

 - name: Create ApplicationSet
   command: kubectl --kubeconfig {{ kubeconfig_path }} apply -f /tmp/Application.yaml